{% extends 'adminbase.html' %}

{% block active %} <li><a href="{% url 'userauth:home' %}">HOME</a></li>
      <li ><a href="/scheduling">EXISTING TEAMS</a></li>  
      <li  ><a href="{% url 'new_team' %}">CREATE TEAM</a></li>
      {% comment %} <li><a href="#">TEAM REQUESTS</a></li> {% endcomment %}
      <li class="active"><a href="{% url 'view_calendar' %}">CALENDAR</a></li>
{% endblock %}
{% load static%}
{% block body %}
<div class="container">
      <h1>
      IE NITK Calendar 
      </h1>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%230B8043&amp;ctz=Asia%2FKolkata&amp;src=Y19wazh0aXJybDRqN2M5cjllZTFvMzJjN3Job0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23E67C73" 
      style="border:solid 1px #777" width="700" height="400" frameborder="0" scrolling="no" margin="50px" padding="500px" ></iframe>
</div>


{% endblock %}
