{% extends 'adminbase.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block active %} <li class="active"><a href="{% url 'userauth:home' %}">HOME</a></li>
      <li><a href="/scheduling">EXISTING TEAMS</a></li>  
      <li><a href="{% url 'new_team' %}">CREATE TEAM</a></li>
      {% comment %} <li><a href="#">TEAM REQUESTS</a></li> {% endcomment %}
      <li><a href="{% url 'view_calendar' %}">CALENDAR</a></li>
{% endblock %}

{% block body %}
      <div class="container" > 
        <h1 >Welcome to Impresario!!</h1>
        <h3>
        {{account.user.username}}
        </h3>
        <h3>
        {{account.user.email}}
        </h3>
        <br>
        <h3>
        {{account.profile.first_name}} {{account.profile.last_name}}
        </h3>
        <br>

        <h3>
        {{account.profile.phone_number}} 
        </h3>
        <br>
        <h3>
        {{account.profile.gender}} 
        </h3>

        <a class="btn btn-primary mx-10 my-10" href="{% url 'userauth:menu' %}">Account Settings</a>
        <a class="btn btn-danger mx-20 my-10" href="{% url 'userauth:logout' %}">LOGOUT</a>
        <br>
        <a class="btn btn-success mx-20 my-10" href="/scheduling">Organisations</a>
      </div>

{% endblock %}