{% extends 'adminbase.html' %}
{% block active %} <li><a href="{% url 'userauth:home' %}">HOME</a></li>
      <li class="active"><a href="/scheduling">EXISTING TEAMS</a></li>  
      <li><a href="{% url 'new_team' %}">CREATE TEAM</a></li>
      {% comment %} <li><a href="#">TEAM REQUESTS</a></li> {% endcomment %}
      <li><a href="{% url 'view_calendar' %}">CALENDAR</a></li>
{% endblock %}


{% block body %}{% load my_filter %}
<h1 class="text-center" style="color:white"> Organization and their Hierarchy</h1>
<div class="container fadeIn" style="background-color:#f2d9d91c">

{% for org in listo %} 
    {{""|indent_it:org.1}}
    <a  class = "btn btn-danger" style = "margin:5px;"href="{% url 'orgDetail' org.2 %}">{{org.0}}</a>
    <br>
{% endfor %}
<a href = "{% url 'new_team' %}" style="color:white; font-size:1.5rem;"> Create New Team </a>
</div>

{% endblock %}