{% extends 'base.html' %} 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% load static %}
{% block content %}
<h1> {{ org.name }} </h1>
 <h3> Parent: {{org.parent_org.name}} </h3>
<h3> Children: </h3>
<ul>
{% for c in children %}
  {% if c.id != org.id %}
    <li>{{c.name}} </li> 
    {% endif %}
{% endfor %} 

<h3> Members: </h3>
</ul>

{% for m in members %}
    {% if m.role == 1 %}
    <li>{{m.user.username}} (Admin) </li>
    {% else %}
    <li>{{m.user.username}}</li>
    {% endif %}
{% endfor %} 
</ul>

<h3> Upcoming Events: </h3>
</ul>

{% for e in org.event.all %}
    
    <li>
    <a href = "/userprofile/view_event/{{ e.id }}">
    {{ e.title}}
    </a>
    </li>
{% endfor %} 
</ul>
<a href = "/userprofile/{{ org.id }}/add_event">
Add event 
</a>
{% endblock %}
